<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script defer src="../js/download.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link type="image/png" rel="shortcut icon" href="favicon.png" />
    <style>
      body {
        display: none;
      }
    </style>
    <title>Image BLIK</title>
  </head>
  <body>
    <div class="wrapper wrapper-download">
      <button class="btn download">Download all</button>
      <div class="image-box" title="Pobierz jedno">
      <% for(var i = 0; i < image.length; i++) {%>
        <a href=<%= image[i].photoUrl %> download class="link-download">
          <img src=<%= image[i].photoUrl %> class="box box-download" />
        </a>
      <% } %>
      </div>
    </div>
  </body>
</html>
