*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(#141e30, #243b55);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h2 {
  margin-top: 0;
  color: white;
  font-size: 30px;
  letter-spacing: 0.7px;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-download {
  flex-direction: column;
}

.form-wrapper {
  display: grid;
  width: 550px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  align-content: center;
  justify-items: center;
  padding: 100px 50px;
  gap: 40px;
  position: relative;
}

/* INPUTS */

.input-text-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.input-text-container.login {
  display: block;
}

.input-text-container > div {
  width: 70%;
}

.text-input {
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  color: white;
  font-size: 20px;
}

.text-input::placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-size: 15px;
}

.input-bottom-line {
  width: 100%;
  display: inline-block;
  height: 1px;
  background-color: white;
  position: relative;
}

.input-bottom-line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: scale(0);
  height: 3px;
  background-color: white;
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.text-input:focus + .input-bottom-line::after {
  transform: scale(1);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.input-image-container {
  width: 100%;
}

input[type="file"] {
  color: white;
  width: 100%;
}

input[type="file" i]::-webkit-file-upload-button {
  appearance: none;
  background-color: #d3394c;
  border: none;
  outline: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
  margin-right: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

input[type="file" i]::-webkit-file-upload-button:hover {
  background-color: #a3394c;
  transition: background-color 0.2s ease-in-out;
}

/* BUTTONS */

.btn {
  font-family: "Roboto", sans-serif;
  border: solid 2px #03e9f4;
  padding: 15px 35px;
  outline: none;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  justify-self: start;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.btn.copy-btn {
  fill: white;
  padding: 0 10px;
  border: none;
}

.btn.download {
  font-size: 50px;
}

.btn:disabled {
  background-color: #3f3f3f;
  cursor: default;
}

.btn:disabled:hover {
  background-color: #3f3f3f;
  color: white;
}

.btn:hover {
  background-color: #03e9f4;
  color: #222;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.btn:active {
  background-color: #83e8f4;
  color: #222;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

/* ANCHORS - DOWNLOAD VIEW */

.link-download {
  display: inline-block;
}

.link-download:hover {
  opacity: .8;
}

/* ERRORS */

.error {
  font-size: 14px;
  color: #d3394c;
  background-color: white;
  padding: 5px 0 5px 5px;
  display: none;
}

.error.active {
  display: block;
}

.error-amount {
  position: absolute;
  bottom: 5%;
  left: 5%;
  color: white;
  font-size: 12px;
}

/* IMAGES - INITIAL VIEW */

.image-leftbar {
  position: absolute;
  left: 0;
  width: 400px;
  height: 769px;
  transform: translateX(-100%);
  top: 0;
  bottom: 10%;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  display: grid;
  grid-template-columns: 150px 150px;
  justify-content: space-evenly;
  align-content: flex-start;
  gap: 23px 0;
  padding: 50px 0;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  transition: transform 0.5s ease-in-out;
}

.image-leftbar.visible {
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.image-leftbar::after {
  content: "Show";
  position: absolute;
  right: -91px;
  padding: 10px 50px;
  top: 15%;
  background-color: #d3394c;
  color: white;
  letter-spacing: 1px;
  transform: rotate(270deg);
  cursor: pointer;
  display: block;
}

.box {
  height: 150px;
  width: 150px;
  object-fit: cover;
  cursor: pointer;
  pointer-events: none;
}

.box:hover {
  opacity: 0.4;
}

.box-children {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("assets/cancel.png");
  width: 35px;
  height: 35px;
  background-size: cover;
  opacity: 0;
  filter: invert(1);
}

.box:hover + .box-children {
  opacity: 1;
}

/* IMAGES - DOWNLOAD VIEW */

.image-box {
  width: 60%;
  margin-top: 50px;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 10px;
}

.iti__selected-flag {
  z-index: 0;
}

/* GREEN ALERT */

.copy-alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #00c642;
  padding-left: 20px;
  color: #006400;
  opacity: 0;
  display: flex;
  align-items: center;
}

.copy-alert.active {
  opacity: 1;
}

.iti__flag {
  background-image: url("/dist/assets/flags..png");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("/dist/assets/flags@2x..png");
  }
}

@media (max-width: 768px) {
  .image-box {
    margin-top: 20px;
    grid-template-columns: repeat(2, 100px);
    gap: 30px;
  }

  .box-download {
    width: 100px;
    height: 100px;
  }

  .download {
    font-size: 25px;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .form-wrapper {
    width: 90%;
    padding: 50px 25px;
    gap: 6vh;
  }

  .form-wrapper.login {
    height: unset;
  }

  .text-input {
    font-size: 12px;
  }
  .text-input::placeholder {
    font-size: 12px;
  }

  input[type="file" i]::-webkit-file-upload-button {
    padding: 7px 10px;
    font-size: 12px;
  }

  .btn {
    padding: 10px 25px;
  }

  .error-amount {
    font-size: 10px;
    bottom: 2.5%;
  }

  .image-leftbar {
    width: 100vw;
    height: 569px;
    grid-template-columns: 100px 100px;
    padding: 50px 0 50px 39px;
  }

  .box {
    width:100px;
    height:100px;
  }

  .image-leftbar.visible {
    transform: translateX(-39px);
  }
}

@media (orientation: landscape) and (max-width: 823px) {
  .form-wrapper.login {
    padding: 50px 25px;
  }

  .image-leftbar {
    height: 689px;
  }

  .image-leftbar {
    width: 100vw;
    grid-template-columns: 120px 120px;
    padding: 70px 0 70px 39px;
  }

  .box {
    width:120px;
    height:120px;
  }

  .image-leftbar.visible {
    transform: translateX(-39px);
  }
}

.iti.iti--allow-dropdown {
  width: 100%;
}
